img,
video {
	max-width: 100%;
	height: auto;
}

body {
	background-color: #d2c5ff;
	/* color: #ffffff; */
}

p {
	color: #ffffff;
}
h1{
  font-size: 3rem;
}

body{
  font-family: Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6{
  font-family: "Raleway", serif;
}