img,
video {
	max-width: 100%;
	height: auto;
}

body {
	background-color: #e7c8ff;
	/* color: #ffffff; */
}

p {
	color: #000000;
}
h1{
  font-size: 3rem;
}

body{
  font-family: "Times New Roman", Times, serif;

}
